@charset "utf-8";

:root {
  --main-text: #313131;
  --main-bg: #fff;
  --link-color: #00f;
  --nav-border-color: #001f3f;
}
@media (prefers-color-scheme: dark) {
  :root {
    --main-text: #e4e4e4;
    --main-bg: #444;
    --link-color: #e39777;
    --nav-border-color: #808080;
  }
}

body {
  font: 14px/1.6 'Hiragino Kaku Gothic Pro', Osaka, 'メイリオ',
    'ＭＳ Ｐゴシック', 'MS PGothic', Verdana, Arial, sans-serif;
  margin: 1em;
  color: var(--main-text);
  background-color: var(--main-bg);
}


img {
  outline: none;
  border-style: none;
}

a {
  color: var(--link-color);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
a:visited {
  color: var(--link-color);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
a:hover {
  color: orange;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

header {
  display: block;
}
nav {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: var(--nav-border-color);
  margin-bottom: 5px;
  overflow: hidden;
}

footer small {
  font-size: .8rem;
}
footer small .copyright {
  font-size: 1.2rem;
  vertical-align: -0.1em;
}
